.site-header.obrigado:before {
  content: "";
  background-image: url(../img/forma-06@2x.png);
  height: 180px;
  width: 200%;
  // max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 0;
}
.site-header.obrigado:after {
  content: "";
  background-image: url(../img/forma-07@2x.png);
  height: 180px;
  width: 100%;
  // max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  background-position: bottom;
  background-size: 230% 100%;
  background-repeat: no-repeat;
  z-index: 0;
}
.site-header.obrigado {
  padding-bottom: 20px;
  overflow: hidden;
}

.site-header.main::before {
  content: "";
  background-image: url(../img/mao-segurando-pendrive.png);
}

.site-header.main {
  background-image: url(../img/site-header-background.png);
  background-size: 3500px 130%;
  background-position: top;
  padding-bottom: 50px;
  padding-top: 20px;
  background-repeat: no-repeat;

  .site-header__inside {
    .navbar {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;

      .logo {
        width: 210px;
        margin-bottom: 20px;
      }

      .navbar__items {
        display: flex;
        flex-direction: column;

        .navbar__item {
          margin-bottom: 20px;
          max-width: 320px;
          display: flex;
          align-items: center;
          margin-right: 20px;

          .navbar__item-icon {
            margin-right: 10px;

            img.icon-telefone {
              width: 35px;
            }

            img.icon-casa {
              width: 80px;
            }
          }
          .navbar__item-content {
            text-align: center;
            font-family: $font-primary;
            font-weight: bold;
            font-size: 13px;
          }
        }
      }
    }
    .site-header__body {
      display: flex;
      justify-content: center;

      .cta-box {
      }
    }
  }
}

.site-header {
  position: relative;
  background: $info-gradient;

  .site-header__inside {
    .navbar {
      position: relative;
      z-index: 1;
      margin-bottom: 120px;

      .logo {
        width: 210px;
      }

      .navbar__items {
        .navbar__item {
          .navbar__item-icon {
            img {
            }
          }
          .navbar__item-content {
          }
        }
      }
    }
    .site-header__body {
      .cta-box {
      }

      .content {
        font-family: $font-primary;
        color: $white;
        h1 {
          font-size: 48px;
          text-transform: uppercase;
          font-weight: bold;
        }
        p {
        }
      }
      .image {
        img {
          margin-left: 50px;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-up) {
  .site-header.main::after {
    content: "";
    background-image: url(../img/mao-pendrive.png);
    width: 1000px;
    height: 550px;
    position: absolute;
    left: 0;
    bottom: 60px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
  }

  .site-header.main {
    max-width: 2000px;
    margin: 0 auto;
    padding-top: 0;
    background-image: url(../img/site-header-background.png);
    background-size: 100% 100%;
    background-position: top;
    padding-bottom: 100px;

    .site-header__inside {
      padding-top: 30px;

      .navbar {
        margin-bottom: 20px;
        flex-direction: row;

        .logo {
          position: relative;
          top: 110px;
          width: 230px;
        }

        .navbar__items {
          flex-direction: row;

          .navbar__item {
            max-width: 320px;
            display: flex;
            align-items: center;
            margin-right: 20px;

            .navbar__item-icon {
              margin-right: 20px;

              img.icon-telefone {
                width: 35px;
              }

              img.icon-casa {
                width: 90px;
              }
            }
            .navbar__item-content {
              text-align: center;
              font-family: $font-primary;
              font-weight: bold;
              font-size: 13px;
            }
          }
        }
      }
      .site-header__body {
        justify-content: flex-end;

        .cta-box {
          margin-top: 100px;
        }

        .content {
          font-family: $font-primary;
          color: $white;
          h1 {
            font-size: 48px;
            text-transform: uppercase;
            font-weight: bold;
          }
          p {
          }
        }
        .image {
          img {
            margin-left: 50px;
          }
        }
      }
    }
  }

  .site-header.obrigado:before {
    width: 100%;
    height: 360px;
  }
  .site-header.obrigado:after {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 2;
    height: 220px;
  }
  .site-header.obrigado {
  }
  .site-header {
    .site-header__inside {
      padding-top: 100px;

      .navbar {
        margin-bottom: 180px;

        .logo {
          width: 250px;
        }
      }
      .site-header__body {
        display: flex;

        .content {
          width: 50%;
          h1 {
            font-size: 90px;
            font-weight: 700;
          }
          p {
            font-size: 20px;
          }
        }
        .image {
          width: 50%;

          img {
            width: 200%;
            max-width: 1000%;
            margin-top: -250px;
            position: relative;
            z-index: 2;
            margin-left: -50px;
          }
        }
      }
    }
  }
}
