.hero {
}

.hero.resolva-agora {
  padding: 30px 0;
  background: $info;

  .hero__inside {
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
      padding: 25px;
    }
  }
}

@media only screen and (min-width: $desktop-up) {
  .hero.resolva-agora {
    margin-bottom: 100px;
  }
}
