@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap");
/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

html, body {
  scroll-behavior: smooth; }

.container {
  margin: 0 auto;
  padding: 0 1rem; }

@media only screen and (min-width: 48rem) {
  .container {
    padding: 0;
    width: 42rem; } }

@media only screen and (min-width: 75rem) {
  .container {
    width: 65.625rem; } }

.site-header.obrigado:before {
  content: "";
  background-image: url(../img/forma-06@2x.png);
  height: 180px;
  width: 200%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 0; }

.site-header.obrigado:after {
  content: "";
  background-image: url(../img/forma-07@2x.png);
  height: 180px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  background-position: bottom;
  background-size: 230% 100%;
  background-repeat: no-repeat;
  z-index: 0; }

.site-header.obrigado {
  padding-bottom: 20px;
  overflow: hidden; }

.site-header {
  position: relative;
  background: linear-gradient(291deg, #6fabcd 0%, #33588c 100%); }
  .site-header .site-header__inside .navbar {
    position: relative;
    z-index: 1;
    margin-bottom: 120px; }
    .site-header .site-header__inside .navbar .logo {
      width: 210px; }
  .site-header .site-header__inside .site-header__body .content {
    font-family: "Montserrat", sans-serif;
    color: #fff; }
    .site-header .site-header__inside .site-header__body .content h1 {
      font-size: 48px;
      text-transform: uppercase;
      font-weight: bold; }
  .site-header .site-header__inside .site-header__body .image img {
    margin-left: 50px; }

@media only screen and (min-width: 75rem) {
  .site-header.obrigado:before {
    width: 100%;
    height: 360px; }
  .site-header.obrigado:after {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 2;
    height: 220px; }
  .site-header .site-header__inside {
    padding-top: 100px; }
    .site-header .site-header__inside .navbar {
      margin-bottom: 180px; }
      .site-header .site-header__inside .navbar .logo {
        width: 250px; }
    .site-header .site-header__inside .site-header__body {
      display: flex; }
      .site-header .site-header__inside .site-header__body .content {
        width: 50%; }
        .site-header .site-header__inside .site-header__body .content h1 {
          font-size: 90px;
          font-weight: 700; }
        .site-header .site-header__inside .site-header__body .content p {
          font-size: 20px; }
      .site-header .site-header__inside .site-header__body .image {
        width: 50%; }
        .site-header .site-header__inside .site-header__body .image img {
          width: 200%;
          max-width: 1000%;
          margin-top: -250px;
          position: relative;
          z-index: 2;
          margin-left: -50px; } }

.site-footer {
  text-align: center;
  padding: 80px 0 40px; }
  .site-footer .site-footer__inside .content {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 20px; }
  .site-footer .site-footer__inside .site-footer__social-logos {
    margin-top: 30px;
    display: flex;
    justify-content: center; }
    .site-footer .site-footer__inside .site-footer__social-logos img {
      margin: 5px;
      max-width: 70px; }
  .site-footer .site-footer__inside .site-footer__copyright {
    padding-top: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .boxes .box {
    width: 100%;
    max-width: 320px;
    margin: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 6px 9px 15px #00000029;
    border-radius: 32px; }
    .boxes .box .box__header {
      display: flex;
      align-items: center;
      justify-content: center; }
      .boxes .box .box__header img {
        max-height: 100%; }
    .boxes .box .box__body {
      padding: 20px;
      text-align: center;
      font-family: "Montserrat", sans-serif; }
      .boxes .box .box__body h3 {
        color: #ff0000;
        font-weight: bold;
        margin-bottom: 10px; }
      .boxes .box .box__body p {
        font-size: 12px; }
    .boxes .box .box__footer {
      padding-top: 20px;
      text-align: center;
      padding-bottom: 20px; }

@media only screen and (min-width: 48rem) {
  .boxes .box .box__header {
    height: 300px; } }

.button {
  font-family: "Montserrat", sans-serif;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  box-shadow: 5px 5px 7px #00000029;
  border: 0; }

.button--small {
  font-size: 12px; }

.button--large {
  padding: 15px 50px; }

.button--danger {
  background: #ff0000;
  color: #fff; }

.bg-primary {
  background-color: ""; }

.bg-primary-light {
  background-color: ""; }

.bg-primary-lighter {
  background-color: ""; }

.bg-primary-dark {
  background-color: ""; }

.bg-primary-darker {
  background-color: ""; }

.bg-secondary {
  background-color: ""; }

.bg-secondary-light {
  background-color: ""; }

.bg-secondary-lighter {
  background-color: ""; }

.bg-secondary-dark {
  background-color: ""; }

.bg-secondary-darker {
  background-color: ""; }

.bg-dark {
  background-color: ""; }

.bg-light {
  background-color: ""; }

.bg-black {
  background-color: #000; }

.bg-white {
  background-color: #fff; }

.bg-grey {
  background-color: ""; }

.bg-grey-light {
  background-color: ""; }

.bg-grey-dark {
  background-color: ""; }

.bg-warning {
  background-color: ""; }

.bg-warning-light {
  background-color: ""; }

.bg-danger {
  background-color: #ff0000; }

.bg-danger-dark {
  background-color: ""; }

.bg-success-dark {
  background-color: ""; }

.bg-success {
  background-color: ""; }

.bg-success-light {
  background-color: ""; }

.bg-success-lighter {
  background-color: ""; }

.color-primary {
  color: ""; }

.color-primary-light {
  color: ""; }

.color-primary-lighter {
  color: ""; }

.color-primary-dark {
  color: ""; }

.color-primary-darker {
  color: ""; }

.color-secondary {
  color: ""; }

.color-secondary-light {
  color: ""; }

.color-secondary-lighter {
  color: ""; }

.color-secondary-dark {
  color: ""; }

.color-secondary-darker {
  color: ""; }

.color-dark {
  color: ""; }

.color-light {
  color: ""; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.color-grey {
  color: ""; }

.color-grey-light {
  color: ""; }

.color-grey-dark {
  color: ""; }

.color-warning {
  color: ""; }

.color-warning-light {
  color: ""; }

.color-danger {
  color: #ff0000; }

.color-danger-dark {
  color: ""; }

.color-success-dark {
  color: ""; }

.color-success {
  color: ""; }

.color-success-light {
  color: ""; }

.color-success-lighter {
  color: ""; }

.font-primary {
  font-family: "Montserrat", sans-serif; }

.font-secondary {
  font-family: "Montserrat", sans-serif; }

.text-bolder {
  font-weight: bolder; }

.text-normal {
  font-weight: 400; }

.text-bold {
  font-weight: 700; }

.text-light {
  font-weight: 300; }

.text-uppercase {
  text-transform: uppercase; }

.text-centered {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.outros-servicos .outros-servicos__header {
  margin-bottom: 40px; }
  .outros-servicos .outros-servicos__header h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase; }
