.button {
  font-family: $font-primary;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  box-shadow: 5px 5px 7px #00000029;
}

.button--small {
  font-size: 12px;
}

.button--danger {
  background: $danger;
  color: $white;
}
