.entenda-melhor {
  padding-top: 50px;
  padding-bottom: 50px;

  .entenda-melhor__header {
    padding: 20px;
    border-radius: 40px;
    border: 2px solid $info;

    h2 {
      font-size: 20px;
      font-family: $font-primary;
      color: $info-dark;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .entenda-melhor__body {
    padding-top: 20px;

    .entenda-melhor__items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .entenda-melhor__item {
        width: 290px;
        text-align: center;
        margin: 20px;

        .entenda-melhor__icon {
          display: flex;
          justify-content: center;
          padding-bottom: 20px;
          align-items: center;

          img {
            width: 30px;
          }
        }
        .entenda-melhor__content {
          font-family: $font-primary;

          h3 {
            text-transform: uppercase;
            color: $info;
            margin-bottom: 10px;
          }
          p {
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop-up) {
  .entenda-melhor {
    position: relative;
    padding-top: 200px;
    padding-bottom: 120px;

    .entenda-melhor__inside::before {
      content: "";
      position: absolute;
      background-image: url(../img/camiho-curvado-01.png);
      left: -280px;
      top: -597px;
      width: 600px;
      height: 600px;
      background-size: 100% 100%;
      z-index: 1;
    }

    .entenda-melhor__inside::after {
      content: "";
      position: absolute;
      background-image: url(../img/caminho-curvado-02@2x.png);
      left: -280px;
      top: 147px;
      width: 600px;
      height: 600px;
      background-size: 100% 100%;
      z-index: 1;
    }

    .entenda-melhor__inside {
      position: relative;

      .entenda-melhor__header::before {
        content: "";
        position: absolute;
        top: -150px;
        width: 3px;
        height: 150px;
        background: $info;
        right: 260px;
        z-index: -1;
      }

      .entenda-melhor__header::after {
        content: "";
        background-image: url(../img/forma-02@2x.png);
        position: absolute;
        top: 144px;
        width: 18px;
        height: 560px;
        right: 510px;
        z-index: 1;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .entenda-melhor__header {
        position: relative;
        width: 930px;
        margin-left: auto;
        margin-top: 40px;
        text-align: center;
        padding: 40px 180px 40px 20px;
        font-size: 123px;

        h2 {
          font-size: 26px;
        }
      }

      .entenda-melhor__body {
        .entenda-melhor__items {
          .entenda-melhor__item {
            width: 400px;

            .entenda-melhor__icon {
              height: 80px;

              img {
                width: 50px;
              }
            }

            .entenda-melhor__content {
              h3 {
                font-size: 20px;
              }
              p {
                font-size: 20px;
              }
              .size-up {
                font-size: 22px;
              }
            }
          }
        }
      }
    }
  }
}
